
:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

 header {
  display: flex;
  background-color: var(--destaque);
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

nav#menu ul {
  display: flex;
  gap: 50px;
  list-style: none;
  padding-top: 20px;
}

nav#menu a {
  color: var(--fundo-principal);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 8px;
  transition: color 0.5s; 
  font-size: 1.5em;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

nav#menu p {
  color: var(--texto-inverso);
  font-size:0.8em;
  opacity: 0.8;
}

main {

}
 section#ficha {
  padding: 20px;
  background-color: var(--fundo-card);
  border-radius: 8px;
 }
section#ficha img {
  display: block;
  margin: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 300px;
  border-radius: 50%;
  margin-top: 10px;
}

section#ficha h1 {
  color: var(--destaque-inverso);
  font-size: 1.5em;
}
section#ficha p {
  text-align: justify;
}